<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>About Anna</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,900|Rokkitt:400,700" rel="stylesheet">
		<%= stylesheet_link_tag "application.css" %>
	</head>

	<body>

		<div class="container">
			<!-- START HERE --> 
			<h1>Piers MacNaughton</h1>
			<h2>About Me</h2>
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>
