body {
  line-height: 2;
  color: white;
	
  font-family: 'Lato', sans-serif;
  background: url('Boston2.jpg');
  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 800px;
  margin: 20px auto 90px auto;
  background: rgba(0,0,0,0);
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}



h1{
 	font-family: 'Rokkitt', sans-serif;
	font-size: 80px;
	margin: 0,0,0,0;
  line-height: 2;
}


h2{
	font-size: 18px;
}

p{	
	font-size: 16px;
}

a {
	color: #BFE35B;
	text-decoration: none;
}

/*Tab Styles*/

.tabset, .tab-content, .tab-pane, .tabbable {
    background-color: #fff;
    color: black;
    padding:5px
    height:100%;
}

.nav-tabs > li > a{
  background-color: #fff !important;
    border: medium none;
    border-radius: 0;
    color: black;
}

/*End Tab Styles*/